<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>CET API SYS</title>
</head>
<body>
  hello world!
  this is a test
  <script src="https://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
      function rc4 (data, key) {
          var seq = new Array(256); //int
          var das = new Array(data.length); //code of data
          var i, j = "", x, temp, k;
          for (i = 0; i < 256; i++) {
              seq[i] = i;
              j = (j + seq[i] + key.charCodeAt(i % key.length)) % 256;
              temp = seq[i];
              seq[i] = seq[j];
              seq[j] = temp;
          }

          for (i = 0; i < data.length; i++) {
              das[i] = data.charCodeAt(i)
          }
          for (x = 0; x < das.length; x++) {
              i = (i + 1) % 256;
              j = (j + seq[i]) % 256;
              temp = seq[i];
              seq[i] = seq[j];
              seq[j] = temp;
              k = (seq[i] + (seq[j] % 256)) % 256;
              das[x] = String.fromCharCode(das[x] ^ seq[k]);
          }
          return das.join('');
      }
      $.ajax({
          type: "POST",
          url: "/api/v2/noticket",
          data: {
              name: "王洋辉",
              school: "重庆邮电大学",
              cetType: 2
          },
          success: function (res) {
              res.data.grade = JSON.parse(rc4(res.data.grade, res.info));
              res.data.ticket = rc4(res.data.ticket, res.info);
              console.log(res);
          }
      })
  </script>
</body>
</html>